@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*  * General Styles */

* {
  /* * Remove the default padding and margin */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f0f0;
}

html {
  /* * This is added, when we add the links to the different sections on our page , it is gonna have a smooth scroll instead of instantly going to that page/section  */
  scroll-behavior: smooth;
}

p {
  color: #555555;
}

/* * Transition */

a,
.btn {
  /* * So whenever we click on these , there will be a transition and will not be instantenous */
  transition: all 300ms ease;
}

/* * DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  /* * 17vh means the nav is going to take 17% of the whole screen  */
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
  text-decoration-color: #008080;
}

a:hover {
  color: #069;
  text-decoration: underline;
  /*  * This will add more space in between the content and the underline */
  text-underline-offset: 1rem;
  text-decoration-color: #008080;
}

.logo {
  font-size: 2rem;
}

.logo-underline::after {
  content: "";
  display: block;
  /* width: 100%; */
  color: red;
  border: 1px solid teal;
  opacity: 0;
  transition: all 0.3s ease-in;
  /* animation: dark-line 0.7s reverse; */
}

.logo:hover.logo-underline::after {
  opacity: 1;
  transition: all 0.5s ease-in;
  animation: dark-line 0.5s alternate;
}

.logo:not(:hover).logo-underline::after {
  background-color: red;
  color: yellow;
  transition: all 0.5s ease-in;
  animation: dark-line-off 0.5s alternate;
}

@keyframes dark-line {
  0% {
    width: 5%;
  }

  15% {
    width: 15%;
  }

  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

@keyframes dark-line-off {
  0% {
    width: 100%;
  }

  15% {
    width: 75%;
  }

  25% {
    width: 50%;
  }
  50% {
    width: 25%;
  }

  75% {
    width: 15%;
  }

  100% {
    width: 0%;
  }
}

.logo:hover {
  cursor: default;
  color: #069;
}

/* *HAMBURGER MENU */

#hamburger-nav {
  /* *Because we don't need the hamburger in desktop view  */
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  /* * This will be the lines of the hamburger menu */
  width: 100%;
  height: 2px;
  background-color: #000;
  /* * This will make the hamburger menu to an X and on cilcking it , it will close the hamburger menu */
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute; /* Positioning the menu links absolutely relative to the parent */
  top: 100%; /* Aligning the top of the menu-links to the bottom of its parent */
  right: 0; /* Aligning the right side of the menu-links to the right side of its parent */
  background-color: #fff; /* Setting the background color of the menu-links to white */
  width: fit-content; /* Setting the width of the menu-links to fit its contents */
  max-height: 0; /* Setting the maximum height of the menu-links to 0, initially hiding the menu */
  overflow: hidden; /* Hiding any content that overflows the defined height (which is 0 in this case) */
  transition: all 0.3s ease-in-out; /* Adding a transition effect to all properties, with a duration of 0.3 seconds and an ease-in-out timing function */
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  /* * Here we are transforming the line by rotating it into an X and also moving it slighlty because when we rotate it , it is going to be skewed and so moving it in both X and Y directions   */
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  /* * Removing the second line completely */
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  /* Transforming the last line into an X shape and adjusting its position */
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  /* Resetting the transformation for the first line */
  transform: none;
}
.hamburger-icon span:nth-child(2) {
  /* Ensuring the second line is fully visible in the default state */
  opacity: 1;
}
.hamburger-icon span:last-child {
  /* Resetting the transformation for the last line */
  transform: none;
}

/* * Sections */

section {
  padding-top: 4vh; /* Adding vertical padding to the top of the section */
  margin: 0 10rem; /* Setting horizontal margins to create space around the section */
  box-sizing: border-box; /* Ensuring that padding and border are included in the total width and height of the section */
  min-height: fit-content; /* Setting the minimum height of the section to fit its content and making sure no overlapping happens*/
}

.section-container {
  display: flex;
}

/* * Profile section */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0; /* Setting the top and bottom margins to auto, and left and right margins to 0 */
  /* auto for top and bottom margins centers the container vertically within its parent element, and 0 for left and right margins ensures there is no horizontal space around the container.*/
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  text-align: center;
}
.section-text-p1:hover {
  color: #069;
}
.section-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section-text-p2:hover {
  color: #069;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.title:hover {
  color: #069;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/*  * ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* * BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: #353535 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1 {
  background-color: #fff;
}

.btn-color-1:hover {
  background: #353535;
  color: #fff;
  box-shadow: 0 0 5px 0 #069;
}

.btn-color-2 {
  background-color: #353535;
  color: #fff;
}

.btn-color-2:hover {
  background: #fff;
  color: #353535;
  box-shadow: 0 0 5px 0 #069;
}

/* * About Section */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex-grow: 1;
  background: #f8f6f4;
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: #a3a3a3;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.about-details-heading:hover {
  color: #069;
}

.about-details-content:hover {
  color: #069;
}

/* *Experience section */

#experience {
  position: relative;
}

.experience-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.experience-sub-title {
  color: #555555;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article div {
  width: 80%;
  /* flex: 3; */
}

article img {
  width: 20%;
  /* flex: 1; */
}

article .icon {
  cursor: default;
}

.details-container {
  padding: 0 2rem 2rem;
}

.experience-sub-title:hover {
  color: #069;
}

.article-h3:hover {
  color: #069;
}

/* * Projects Section */
#projects {
  position: relative;
}

.projects-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container.color-container {
  width: 40px;
}

.color-container {
  border-color: #a3a3a3;
  background-color: #f8f6f4;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  margin-top: 2rem;
}

.projects-sub-title.project-title {
  margin: 1rem;
  color: #000;
}

.project-title:hover {
  color: #069;
}

.projects-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects-sub-title {
  color: #555555;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/* *CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: #353535 0.1rem solid;
  border-color: #a3a3a3;
  background: #f8f6f4;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* *Footer */
footer {
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
